<div class="container-fluid">

    <navigation-bar></navigation-bar>

    <div class="container-fluid">
        <div class="row">

            <sidebar></sidebar>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Devices</h1>
                </div>

                <div class="container row">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary">Add</button>
                        <button type="button" class="btn btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-outline-secondary">Delete</button>
                    </div>
                </div>

                <div class="container pt-5 row">

                    <div class="container col">
                        <label>DeviceId</label>
                        <input
                            name="deviceId"
                            required
                            ng-model="devicesController.deviceId"
                            ng-required="true"
                            type="text"
                            class="form-control">
                        <label
                            ng-if="devicesController.deviceCrudForm.deviceId"
                            class="input-validation-error">
                            IP is required.
                        </label>
                    </div>

                    <div class="container col">
                        <label>Name</label>
                        <input
                            name="name"
                            required
                            ng-model="devicesController.name"
                            ng-required="true"
                            type="text"
                            class="form-control">
                        <label
                            ng-if="ethernetController.deviceCrudForm.name.$invalid"
                            class="input-validation-error">
                            IP is required.
                        </label>
                    </div>

                    <div class="container col">
                        <label>IP-Address</label>
                        <input
                            name="ip"
                            required
                            ng-model="devicesController.ip"
                            ng-required="true"
                            type="text"
                            class="form-control">
                        <label
                            ng-if="devicesController.deviceCrudForm.ip.$invalid"
                            class="input-validation-error">
                            IP is required.
                        </label>
                    </div>
    
                </div>

                <div class="container row ml-1 pt-3">
                    <button type="button" class="btn-light">Save</button>
                    <button type="button" class="btn-light">Cancel</button>
                </div>

                <div class="table-responsive pt-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device Id</th>
                                <th>Name</th>
                                <th>IP</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in devicesController.devices">
                                <td>{{ device.id }}</td>
                                <td>{{ device.name }}</td>
                                <td>{{ device.ip }}</td>
                                <td>{{ device.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </main>
            
        </div>
    </div>
</div>