<nav class="col-md-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a 
                    href
                    ng-click="sidebarController.loadOverviewView()"
                    class="nav-link" 
                    ng-class="{
                        active: sidebarController.currentlyLoaded === '/overview'
                    }">

                    Overview
                </a>
            </li>
            <li class="nav-item">
                <a 
                    href
                    ng-click="sidebarController.loadDevicesView()"
                    class="nav-link" 
                    ng-class="{
                        active: sidebarController.currentlyLoaded === '/devices'
                    }">

                    Devices
                </a>
            </li>
        </ul>
    </div>
</nav>