<div class="container">
    <div 
        class="card box-shadow smart-home-configuration"
        ng-class="{
            'active': wlanController.active}
        ">

        <div class="card-header">
            <img class="card-img-top mx-auto d-block" style="width: 30%" src="overview/wlan/wifi.svg" alt="Card image cap">
        </div>

        <div class="card-body">
            
            <p class="card-text">
                {{ wlanController.statusText }}
            </p>

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button 
                        type="button" 
                        class="btn btn-md btn-outline-secondary" 
                        ng-click="wlanController.showConfiguration()">

                        Configure
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-md btn-outline-secondary"
                        ng-click="wlanController.activate()">
                        
                        {{ wlanController.onOffButtonText }}
                    </button>
                </div>
            </div>

            <div 
                ng-form="wlanController.wlanForm" 
                ng-if="wlanController.configurationDisplayed">

                <div class="pt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mb-3">
                            <label>SSID</label>
                            <input
                                name="ssid"
                                required
                                ng-model="wlanController.ssid"
                                ng-required="true"
                                type="text"
                                class="form-control">
                             <label
                                ng-if="wlanController.wlanForm.ssid.$invalid"
                                class="input-validation-error">
                                SSID is required.
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mb-3">
                            <label>Password</label>
                            <input
                                name="password"
                                ng-attr-type="password"
                                required
                                ng-model="wlanController.password"
                                type="text" 
                                class="form-control">

                            <label
                                ng-if="wlanController.wlanForm.password.$invalid"
                                class="input-validation-error">
                                Password is required.
                            </label>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button 
                            ng-disabled="wlanController.wlanForm.$invalid || wlanController.configApplyInProgress"
                            ng-click="wlanController.save()"
                            type="button"
                            class="btn btn-md btn-outline-secondary">
    
                            Apply
                        </button>
                    </div>
                    <img ng-if="wlanController.configApplyInProgress"
                        class="mx-auto d-block"
                        src="overview/wlan/loading.gif">
                </div>
            </div>

        </div>

    </div>
</div>